h1 {
    //responsive fontsize from mobile 24px to large screen 32px
    font-size: clamp(var(--fs-300), 1.3239rem + 0.7512vw, var(--fs-400));
    font-weight: var(--fw-bold);
}

h2 {
    //responsive fontsize from mobile 18px to large screen 24px
    font-size: clamp(var(--fs-200), 0.9930rem + 0.5634vw, var(--fs-300));
    font-weight: var(--fw-bold);
}

p {
    //responsive fontsize from mobile 16px to large screen 18px
    font-size: clamp(var(--fs-100), 0.9560rem + 0.1878vw, var(--fs-200));
    font-weight: var(--fw-medium);
}